@import '../public/scss/ConnectionWebsite.scss';
@import '../public/scss/HomeWebsite.scss';

html,
body,
#root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #141414;
}

#root > div:first-child {
  touch-action: none;
}

.container {
  width: 100%;
  height: 100%;
  background-color: #141414;
  color: #FFFFFF;
}

canvas {
  touch-action: none;
}

.htmlScreen iframe {
  width: 1024px;
  height: 690px;
  border: none;
  border-radius: 20px;
  background-color: #000000;
}